.header {
  width: 100%;
  height: 80px;
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.header > .navigation {
  width: 1280px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > .navigation > .logo {
  font-size: 24px;
  line-height: 24px;
  color: white;
}

.header > .navigation > .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  list-style: none;
}

.header > .navigation > .nav-menu > .nav-menu-item {
  font-size: var(--small-font-size);
  line-height: var(--small-font-size);
  color: white;
}

.header > .navigation > .nav-menu > .nav-menu-item > a {
  text-decoration: none;
  color: white;
}

/* .header > .navigation > .login-wrapper {
} */

.header > .navigation > .login-wrapper > button {
  font-size: var(--small-font-size);
  line-height: var(--small-font-size);
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header > .navigation > .mo-nav-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header > .navigation > .nav-menu {
    display: none;
  }

  .header > .navigation > .login-wrapper {
    display: none;
  }

  .header > .navigation > .mo-nav-menu {
    display: flex;
  }

  .header > .navigation > .mo-nav-menu > button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
